absl-py==2.5.0
astunparse==1.6.3
attrs==26.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
contourpy==1.3.2
cryptography==50.0.2
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.65.0
gast==0.7.0
google-auth-oauthlib==1.5.0
google-auth==2.60.0
google-pasta==0.2.0
grpcio==1.84.0
h5py==3.16.0
idna==3.20
jax==0.4.30
jaxlib==0.4.30
joblib==1.4.2
keras==2.15.0
kiwisolver==1.5.1
lazy-loader==0.6
libclang==18.1.1
Markdown==3.10.3
MarkupSafe==3.0.4
matplotlib==3.8.4
mediapipe==0.10.14
ml-dtypes==0.3.2
networkx==3.4.2
numpy==1.26.4
oauthlib==4.0.0
opencv-contrib-python==4.10.0.84
opt_einsum==3.4.0
packaging==26.3
pillow==10.4.0
protobuf==4.25.9
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyWavelets==1.8.0
requests-oauthlib==2.0.0
requests==2.34.2
scikit-image==0.21.0
scikit-learn==1.5.2
scipy==1.12.0
shapely==2.1.2
six==1.17.0
sounddevice==0.5.6
tensorboard-data-server==0.7.2
tensorboard==2.15.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow==2.15.1
termcolor==3.3.0
threadpoolctl==3.5.0
tifffile==2025.5.10
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
Werkzeug==3.1.9
wrapt==1.14.2
